body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Button {
  padding: 5px 10px;
}

.button-left {
  width: 20%;
  float: left;
}

.gallery-wrapper {
  display: inline-block;
  width: 60%;
}

.button-right {
  width: 20%;
  float: right;
}

.Image {
  width: 100%;
  height: auto;
}

.active {
  background-color: green;
}

